[submodule "vendor/Ray.Di"]
	path = vendor/Ray.Di
	url = git://github.com/koriym/Ray.Di.git
[submodule "vendor/Ray.Aop"]
	path = vendor/Ray.Aop
	url = git://github.com/koriym/Ray.Aop.git
[submodule "vendors/BEAR.Resource"]
	path = vendors/BEAR.Resource
	url = git://github.com/koriym/BEAR.Resource.git
[submodule "vendor/Twig"]
	path = vendor/Twig
	url = https://github.com/fabpot/Twig.git
[submodule "vendor/Smarty3"]
	path = vendor/Smarty3
	url = git://github.com/koriym/Smarty3.git
[submodule "vendor/Haanga"]
	path = vendor/Haanga
	url = git://github.com/crodas/Haanga.git
[submodule "vendor/Guzzle"]
	path = vendor/Guzzle
	url = git://github.com/guzzle/guzzle.git
[submodule "vendor/Aura.Autoload"]
	path = vendor/Aura.Autoload
	url = https://github.com/auraphp/Aura.Autoload.git
[submodule "vendor/Aura.Web"]
	path = vendor/Aura.Web
	url = https://github.com/auraphp/Aura.Web.git
[submodule "vendor/Aura.Router"]
	path = vendor/Aura.Router
	url = https://github.com/auraphp/Aura.Router.git
[submodule "vendor/Symfony/Component/ClassLoader"]
	path = vendor/Symfony/src/Symfony/Component/ClassLoader
	url = https://github.com/symfony/ClassLoader
[submodule "vendor/Doctrine"]
	path = vendor/Doctrine
	url = https://github.com/doctrine/common
[submodule "vendor/Monolog"]
	path = vendor/Monolog
	url = https://github.com/Seldaek/monolog.git
[submodule "vendor/BEAR.Resource"]
	path = vendor/BEAR.Resource
	url = git://github.com/koriym/BEAR.Resource.git
[submodule "vendors/Aura.Web"]
	path = vendors/Aura.Web
	url = git://github.com/auraphp/Aura.Web.git
[submodule "vendors/Aura.Autoload"]
	path = vendors/Aura.Autoload
	url = https://github.com/auraphp/Aura.Autoload.git
[submodule "vendors/guzzle"]
	path = vendors/guzzle
	url = git://github.com/guzzle/guzzle.git
[submodule "vendor/Doctrine-DBAL"]
	path = vendor/Doctrine-DBAL
	url = https://github.com/doctrine/dbal
[submodule "vendor/Symfony/src/Symfony/Component/EventDispatcher"]
	path = vendor/Symfony/src/Symfony/Component/EventDispatcher
	url = https://github.com/symfony/EventDispatcher.git
[submodule "vendor/Symfony/src/Symfony/Component/Validator"]
	path = vendor/Symfony/src/Symfony/Component/Validator
	url = https://github.com/symfony/Validator.git
[submodule "vendor/Ray.Annotation"]
	path = vendor/Ray.Annotation
	url = git://github.com/koriym/Ray.Annotation.git
