[submodule "vendors/Ray.Di"]
	path = vendors/Ray.Di
	url = git://github.com/koriym/Ray.Di.git
[submodule "vendors/Ray.Aop"]
	path = vendors/Ray.Aop
	url = git://github.com/koriym/Ray.Aop.git
[submodule "vendors/BEAR.Resource"]
	path = vendors/BEAR.Resource
	url = git://github.com/koriym/BEAR.Resource.git
[submodule "vendors/Twig"]
	path = vendors/Twig
	url = https://github.com/fabpot/Twig.git
[submodule "vendors/haanga"]
	path = vendors/haanga
	url = git://github.com/crodas/Haanga.git
[submodule "vendors/Smarty3"]
	path = vendors/Smarty3
	url = git://github.com/koriym/Smarty3.git
[submodule "vendors/Aura.Web"]
	path = vendors/Aura.Web
	url = git://github.com/auraphp/Aura.Web.git
[submodule "vendors/Aura.Autoload"]
	path = vendors/Aura.Autoload
	url = https://github.com/auraphp/Aura.Autoload.git
[submodule "vendors/guzzle"]
	path = vendors/guzzle
	url = git://github.com/guzzle/guzzle.git
