<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         strict="true"
         colors="true"
         timeoutForSmallTests="20"
		 stopOnError="false"
		 stopOnFailure="false"
         verbose="true">
  <testsuites>
    <testsuite name="BEAR.Sunday">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>

  <logging>
    <log type="coverage-html" target="build/coverage" title="BEAR.Sunday"
         charset="UTF-8" yui="true" highlight="true"
         lowUpperBound="35" highLowerBound="70"/>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
    <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
  </logging>

  <filter>
    <blacklist>
      <directory suffix=".php">scripts</directory>
      <directory suffix=".php">tests</directory>
      <directory suffix=".php">vendor</directory>
    </blacklist>
  </filter>
</phpunit>
