<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.url }}/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ site.url }}/css/main.css">

    </head>
    <body>
    <div id="wrap">
      <div class="container">
        <img src="{{ site.url }}/img/logo.png" />

        <!-- Static navbar -->
        <div class="navbar navbar-default">
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="#">Documentation</a></li>
              <li><a href="#">Code</a></li>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/ja">Japanese</a></li>
              <li><a href="/">English</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>

