<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.url }}/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ site.url }}/css/main.css">

    </head>
    <body>
    <div id="wrap">
      <div class="container">
        <img src="{{ site.url }}/img/logo.png" />


        </div>

