{% include header.html %}

<p></p>
<div class="container">

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li{% if page.category == "Installation" %} class="active"{% endif %}><a href="install.html">Installation</a></li>
      <li{% if page.category == "My First - Tutorial" %} class="active"{% endif %}><a href="my_first_resource.html">My First - Tutorial</a></li>
      <li{% if page.category == "Blog Tutorial" %} class="active"{% endif %}><a href="blog_install.html">Blog Tutorial</a></li>
      <li{% if page.category == "Application" %} class="active"{% endif %}><a href="application.html">Application</a></li>
      <li{% if page.category == "Resource" %} class="active"{% endif %}><a href="resource.html">Resource</a></li>
      <li{% if page.category == "DI & AOP" %} class="active"{% endif %}><a href="di_aop_introduction.html">DI & AOP</a></li>
      <li{% if page.category == "Others" %} class="active"{% endif %}><a href="faq.html">Others / Faq</a></li>
    </ul>
  </div>
</div>
<p></p>

<div class="row">
  <div class="col-md-3">

    {% include docs/en/subnav.html %}


  </div>
  <div class="col-md-9">

     {{ content }}
  </div>
</div>

</div>
 

{% include footer.html %}