{% include header.html %}


<div class="row">
	<div class="col-md-3">

		

		<div class="panel panel-default">
  			<div class="panel-heading"><strong>{{ page.category }}</strong></div>
  			<div class="panel-body">

				<ul class="nav nav-pills nav-stacked">
		  			<li><a href="#">Home</a></li>
		  			<li><a href="#">Profile</a></li>
		  			<li><a href="#">A really long long long linklong long long link</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-9">

		 {{ content }}
	</div>
</div>
 

{% include footer.html %}