{% include header.html %}

<div class="container">

	        <!-- Static navbar -->
        <div class="navbar navbar-default">
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="documentation/en/introduction.html">Documentation</a></li>
              <li><a href="https://github.com/koriym/BEAR.Sunday">Code</a></li>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="ja/">Japanese</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>



<div class="row">
	<div class="col-md-12">

		 {{ content }}
	</div>
</div>

</div>
 

{% include footer.html %}