body {
	overflow: hidden;
	font: 100% "Trebuchet MS", sans-serif;
	background: #fff; ]
	font-size: 16px;
	font-family: monospace;
	height: 99%;
	margin: 0px;
	padding: 3px 20px 20px;
	color: black;
}

#editor {
	margin: 0;
	position: absorlute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.editor_label {
	padding: 4px;
	position: absolute;
	right: 16px;
	top: 2px;
	z-index: 10;
}

.editor_file {
	background-color: #FEF49C;
	color: black;
	font-family: arial, sans-serif;
	font-size: 12px;
	padding: 4px;
}

.editor_file_save {
	background-color: grey;
	color: white;
	font-family: arial, sans-serif;
	font-size: 12px;
	padding: 4px;
	cursor:	pointer;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}